<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://dcristobal-241018-886-demo.my.salesforce.com/prefcenter/preference-center-1.2.0/css/pref-center-slds.css">
</head>

<body>


    
<div id="pref-center-main"></div>
<script id="preference-center" src="https://dcristobal-241018-886-demo.my.salesforce.com/prefcenter/preference-center-1.2.0/js/main.js" 
  pref-center-host="https://dcristobal-241018-886-demo.my.salesforce.com"
  pref-center-name="Customer_Scoring_Consent"
  pref-center-param="pctoken"></script>

<!-- div id="pref-center-main"></div>
pref-center-name="New_Product_Updates_Opco1"
<script id="preference-center" src="https://dcristobal-20210817-demo.my.salesforce.com/prefcenter/preference-center-1.0.0/js/main.js" 
  pref-center-host="https://dcristobal-20210817-demo.my.salesforce.com"
  pref-center-name="Individual_Basic_Form"
  pref-center-param="pctoken"></script -->
  


</body>
</html>
